<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="WorkListMapper">
    <resultMap id="WorkListMapper" type="models.works.Work">
        <result column="workNo" property="workNo" />
        <result column="userNo" property="userNo" />
        <result column="status" property="status" typeHandler="org.apache.ibatis.type.EnumTypeHandler" />
        <result column="subject" property="subject" />
        <result column="content" property="content" />
        <result column="regDt" property="regDt" />
        <result column="modDt" property="modDt" />
    </resultMap>
</mapper>